.slot-list{
  height: 100%;
  width: 100%;
  .no-slots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .no-slots-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      .no-slots-icon{
        font-size: 1.7rem;
        margin-right: 1rem;
      }
    }
  }
}
